:root {
    --fonte: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
    --titulo: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}
* {
    font-family: var(--fonte); 
}
body{
    background-color: #0f0f0f;
    margin: 0;
    padding: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    background: #0f0f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 50px;
}
.title-item {
    font-weight: bold;
}
.conteudo {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
}
.papa {
    font-size: xx-large;
    text-shadow: 5px 2px black;
    user-select: white;
}
::selection {
    background-color: white;
    color: black;
    text-shadow: none;
}
.submit {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.btn {
    font-weight: bold;
    box-shadow: 0px 0px 10px 5px black;
    border: none;
}
.botao-voltar{
    margin: 8px;
    height: 40px; 
    width: 40px;
}