:root {
    --fonte: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
    --titulo: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}

* {
    font-family: var(--fonte); 
}

body {
    background-color: #0f0f0f;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #0f0f0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    width: 550px;
    height: 350px;
    background: transparent;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    text-align: center;
    border-radius: 10px;
    background: #0f0f0f;
    box-shadow:  12px 12px 24px #010101,
                -12px -12px 24px #0b0b0b;
}

.title {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.title-item {
    font-weight: bold;
}

.img-item {
    width: 500px;
    height: 300px;
    box-shadow: 12px 12px 24px #010101,
               -12px -12px 24px #0b0b0b;
}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn {
    font-weight: bold;
    box-shadow: 0px 0px 10px 5px black;
    border: none;
}
.botao-voltar{
    margin: 8px;
    height: 40px; 
    width: 40px;
}