:root {
    --fonte: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
    --titulo: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}


* {
    font-family: var(--fonte); 
}

body{
    background-color: #0f0f0f;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #0f0f0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.title-item {
    font-weight: bold;
}

.conteudo {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}
.paragraph {
    align-self: center;
    font-size: x-large;
    font-family: var(--fonte);
    font-weight: bold;
    padding: 10px;
    /* box-shadow: 0px 0px 30px 1px black; */
    border-radius: 10px;
    background: #0f0f0f;
    box-shadow:  12px 12px 24px #010101,
                -12px -12px 24px #0b0b0b;
}
#smp {
    font-size: medium;
}
b:hover {
    text-transform: uppercase;
}


.submit {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.btn {
    font-weight: bold;
    box-shadow: 0px 0px 10px 5px black;
    border: none;
}
.botao-voltar{
    margin: 8px;
    height: 40px; 
    width: 40px;
}