<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Updates</title>
    <meta charset="utf-8">
    <script>
		sessionStorage.getItem('nome');
		sessionStorage.getItem('email');
	</script>
    <link rel="stylesheet" href="css/updates_style.css">
</head>
<body>
    <div class="flex">
        <div class="box">
            <h1 class="text">Configurações de perfil</h1>
            <div class="forms">
            <form onsubmit="return false">
                <label class="text-label">Alterar nome:</label><br>
                <input type="text" id='novo_nome' class="inputs">
                <button type="submit" id="update_nome" class="buttons-form">Enviar</button>
            </form><br>
    
            <form onsubmit="return false">
                <label class="text-label">Alterar email:</label><br>
                <input type="text" id='novo_email' class="inputs">
                <button type="submit" id="update_email" class="buttons-form">Enviar</button>
            </form><br>
    
            <form onsubmit="return false">
                <label class="text-label">Alterar senha:</label><br>
                <input type="text" id='nova_senha' class="inputs">
                <button type="submit" id="update_senha" class="buttons-form">Enviar</button>
            </form><br>
        </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{url_for('static',filename='js/update_nome.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/update_senha.js')}}" type="text/javascript"></script>  
<script src="{{url_for('static',filename='js/update_email.js')}}" type="text/javascript"></script>     
</body>
</html>