body {
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;  
    height: 100vh;
    width: 100vw; 
}
.bkg {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    text-align: center; 
    justify-content: center;
    height: 100%;
}

    .box {
        width: 450px;
        height: 50vh;
        justify-content: center;
        display: flex;
        box-shadow: 0 0 15px 7px black;
        max-width: 100%;
    }

.button-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
}
