body{
    margin:0;
    background-color: #0f0f0f;
    height:100%;
    margin:0;
    padding:0;
}

.header {
    height: 29vh;
    background-color: #0f0f0f;
    box-shadow: 0 0 15px 7px black;
    margin-bottom: 10vh;
}
.flex {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100%;
    align-items: center;
}

.circle {
    height: 22vh;
    width: 22vh;
    padding-left: 0;
    display: flex;
    box-shadow: 0 0 15px 7px black;
}

.name-box {
    margin-left: 20px;
}

.name-text {
    color: white;
    font-family: 'cursive';
    font-variant: small-caps; 
    font-weight: 300; 
    letter-spacing: 1px; 
    font-size: 30px;
}

.email-text {
    color: white;
}

.buttons-box {
    display: flex;
    margin-left: 60px;
    height: 40px;
}

.button-config {
    background-color: black;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Cursive', sans-serif; 
    font-weight: 50;
    border-radius: 5px;
    border: 1px solid white;
}

.button-sair {
    background-color: black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Cursive', sans-serif; 
    font-weight: 50;
    border-radius: 5px;
    border: 1px solid white;
}

.button-config:hover {background-color: whitesmoke;color: black;transition: 0.3s;}
.button-sair:hover {background-color: whitesmoke;color: black;transition: 0.3s;}

.link-button {
    text-decoration: none; color: white;
}

.link-button:hover {
    color: black;
}

.table {
    width: 120vh;
    box-shadow: 0 0 15px 7px black
}

.flex-table {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.line-table-main {
    color: white;
    border: 1px solid white;
}

.line-table-item {
    color: white;
    border: 1px solid white;
}