<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Project Flag: Desafio</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/desafios_style.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <!-- Container Main --> 
        <div class="container">
            <a href="/render_menu"><img class="botao-voltar" src="../static/img/botao_voltar.png" alt="botao_voltar"></a>
            <!-- Title Main -->
            <div class="title">
                <h1 class="title-item"> <!--TITULO--> </h1>
                <small> <!--SUBTITULO--> </small>
            </div>
            <!-- Title End -->

                <!-- DESAFIO -->



                <!-- DESAFIO -->


            <div class="submit">
                <button type="button" class="btn btn-light" id="responder">Enviar resposta</button> 
            </div>

        </div> 
        <!-- Container End -->
    </body>
    <script src="{{url_for('static',filename='js/desafio1.js')}}"></script>
    <script>
        sessionStorage.getItem('email');
        sessionStorage.getItem('nome');
    </script>    
</html>