<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Project Flag: Desafio</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/desafio3_style.css')}}"> -->
        <link rel="stylesheet" href="{{url_for('static',filename='css/desafio3_style.css')}}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <!-- Container Main --> 
        <div class="container">
            <a href="/render_menu"><img class="botao-voltar" src="../static/img/botao_voltar.png" alt="botao_voltar"></a>
            <!-- Title Main -->
            <div class="title">
                <h1 class="title-item">Desafio 3</h1>
                <small>Nem tudo é o que parece...</small>
            </div>
            <div class="conteudo">
                <p class="papa">VTJsdVptOXVhV0U9</p>
            </div>
            <div class="submit">
                <button type="button" class="btn btn-light" id="responder">Enviar resposta</button> 
            </div>

        </div> 
        <!-- Container End -->
        <!-- https://www.google.com/search?q=nintendo64&client=opera&hs=mAg&sxsrf=ALiCzsZpetkfEM1gZWV6aKM6C9gUhm3tPg:1660736804878&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjtssfa5s35AhUFp5UCHaK8C68Q_AUoAnoECAIQBA&biw=1325&bih=665&dpr=1#imgrc=ZsnU-gJ5tn8HNM -->
    </body>
    <script src="{{url_for('static',filename='js/desafio3.js')}}"></script>
    <script>
        sessionStorage.getItem('email');
        sessionStorage.getItem('nome');
    </script> 
</html>