<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Project Flag: Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{{url_for('static',filename='css/cadastro_style.css')}}" rel="stylesheet">
</head>
<body>
    <!-- Início do título -->
	<div class="header">
		<div id="title" class="inner-header flex">
			<div class="wrapper">
				<h1>Project Flag</h1>
			</div>
		</div>
	</div>
	<!-- Fim do título -->
    <!-- Inicio cadastro -->
    <div class="flex">
	    <div id="cadastro" class="cadastro text-center">
		    <form onsubmit="return false;">
			    <p class="texto-cadastro text-light fs-4">Realize seu cadastro!</p>
            <div>
                <input class="inputs" type="text" id="nome-cadastro" placeholder="Nickname:" required>
            </div>
			<div>
			  <input class="inputs" type="email" id="email-cadastro" placeholder="Email:" required>
			</div>
			<div >
			  <input class="inputs" type="password" id="senha-cadastro" placeholder="Senha:" required><br><br>
			</div>
				<button id="btnCadastro" type="submit" class="btn">Enviar</button><br>
                <a id="ir-cadastro" class="ir-login" href="/login">Já possui cadastro?</a>
		  </form><br>
	        </div> 
        </div>
	<!-- Fim Cadastro -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{url_for('static',filename='js/cadastro.js')}}" ></script>
</body>
</html>